# SPDX-License-Identifier: GPL-3.0-or-later

menu "Generic architecture options"

config ADDR_USER_STACK
    hex "User stack address"
    default 0x5000000000

config ADDR_USER_MMAP
    hex "User mmap address"
    default 0x1000000000

config PLATFORM_DEBUG_ALL
    bool "Enable all platform-specific debug options"
    select PLATFORM_DEBUG_ALL_x86_64
    select PLATFORM_DEBUG_ALL_riscv64
    select GENERIC_PLATFORM_DEBUG_ALL
    help
    Enable all platform-specific debug options

config GENERIC_PLATFORM_DEBUG_ALL
    bool
    select DEBUG_limine

config DEBUG_limine
    bool "limine startup debug"

endmenu
