# SPDX-License-Identifier: GPL-3.0-or-later

menuconfig TESTS
    bool "Kernel-space unit tests"
    default n

    if TESTS

    config TEST_printf
        bool "Test printf"

    config TEST_linked_list
        bool "Test linked list"

    config TEST_kmalloc
        bool "Test kmalloc"

    config TEST_cmdline_parser
        bool "Test cmdline parser"

    config TEST_hashmap
        bool "Test hashmap"

    config TEST_downwards_stack
        bool "Test downwards stack"

    config TEST_memops
        bool "Test memory-related operations"

    config TEST_ring_buffer
        bool "Test ring buffer"

    endif

