# SPDX-License-Identifier: GPL-3.0-or-later

config PRINTK_HAS_SOME_PREFIX
    bool
    help
    If this option is selected, the kernel enable special handling
    for kernel messages.

    For a list of options that will select this option, read the
    Kconfig files in `kernel/`.

config PRINTK_WITH_TIMESTAMP
    bool "Include timestamp in debug messages"
    default n
    select PRINTK_HAS_SOME_PREFIX

config PRINTK_WITH_DATETIME
    bool "Include date and time in debug messages"
    default n
    select PRINTK_HAS_SOME_PREFIX

config PRINTK_WITH_CPU_ID
    bool "Include CPU ID in debug messages"
    default n
    select PRINTK_HAS_SOME_PREFIX

config PRINTK_WITH_FILENAME
    bool "Include filename in debug messages"
    default n
    select PRINTK_HAS_SOME_PREFIX

config PRINTK_WITH_THREAD_ID
    bool "Include Thread ID in debug messages"
    default n
    select PRINTK_HAS_SOME_PREFIX
