# SPDX-License-Identifier: GPL-3.0-or-later

source "kernel/arch/Kconfig"

# ! ============================================================
config DEFAULT_INIT_PATH
    string "Default init program path"
    default "/initrd/programs/bootstrapper"
    help
    This is the default path to the init program that the kernel will
    execute if no init=/program is specified in the command line.

config EXTRA_CMDLINE
    string "Extra command line arguments"
    default ""
    help
    This option allows you to specify extra command line arguments
    that will be passed to the kernel at boot time.

config SMP
    bool "SMP support"
    default n

config MM_DETAILED_UNHANDLED_FAULT
    bool "Print detailed information on unhandled #PF"
    default y

config MM_DETAILED_MMAPS_UNHANDLED_FAULT
    bool "Print process mmap information on unhandled #PF"
    default n

config DYNAMIC_DEBUG
    bool "Runtime kernel debugging switches"
    default y
    help
    This option adds support for dynamic debug messages. This allows
    you to enable and disable debug messages at runtime.

config INODE_CACHE_HASHMAP_SIZE
    int "Inode cache hashmap size"
    default 256

config ELF_INTERPRETER_BASE_OFFSET
    hex "ELF interpreter base offset"
    default 0x100000

config INITRD_BASE
    hex "Address of the initrd when mapped in init process"
    default 0x300000000

# ! ============================================================
menu "Kernel Limits"

config MAX_CPU_COUNT
    int "Maximum number of CPUs"
    default 8
    help
    This is the maximum number of CPUs that the kernel will support.

    In MOS, the `per_cpu` macro uses an array to store per-CPU data.
    This option sets the size of the array.

config MAX_CMDLINE_COUNT
    int "Maximum number of command line arguments"
    default 64

config MAX_MEMREGIONS
    int "Maximum number of bootloader-provided memory regions"
    default 64

config PROCESS_MAX_OPEN_FILES
    int "Maximum number of open files per process"
    default 64
    help
    This is the maximum number of files that a process can have open at
    once. The larger this number is, the larger `process_t` will be.
    Please consider this tradeoff when setting the value.

config PATH_MAX_LENGTH
    int "Maximum length of paths"
    default 256

config STACK_PAGES_KERNEL
    int "Number of pages for kernel stack"
    default 8

config STACK_PAGES_USER
    int "Number of pages for user stack"
    default 32

endmenu

# ! ============================================================
menu "Miscellaneous Kernel Options"

config UBSAN
    bool "enable undefined behavior sanitizer"
    default n

config PROFILING
    bool "enable TSC-based kernel profiling"
    default n

endmenu

# ! ============================================================
menu "Kernel Logging"
source "kernel/syslog/Kconfig"
endmenu

# ! ============================================================
menu "Kernel Debugging Log Options"
source "kernel/Kconfig.debug"
endmenu

# ! ============================================================
config TESTS
    bool "Kernel-space unit tests"
    default y

if TESTS

menu "Select tests to build"
source "kernel/tests/Kconfig"
endmenu

endif
