# SPDX-License-Identifier: GPL-3.0-or-later

config DEBUG_ALL
    bool "Enable all platform-independent debugging logs"
    select DEBUG_acpi
    select DEBUG_apic
    select DEBUG_cpio
    select DEBUG_dcache
    select DEBUG_dcache_ref
    select DEBUG_dma
    select DEBUG_elf
    select DEBUG_futex
    select DEBUG_io
    select DEBUG_ipc
    select DEBUG_ipi
    select DEBUG_panic
    select DEBUG_pagefault
    select DEBUG_pipe
    select DEBUG_pmm
    select DEBUG_pmm_buddy
    select DEBUG_process
    select DEBUG_scheduler
    select DEBUG_setup
    select DEBUG_signal
    select DEBUG_slab
    select DEBUG_spinlock
    select DEBUG_syscall
    select DEBUG_sysfs
    select DEBUG_thread
    select DEBUG_tmpfs
    select DEBUG_userfs
    select DEBUG_vfs
    select DEBUG_vmm

config DEBUG_cpio
    bool "Initrd cpio archive debugging log"

config DEBUG_dcache
    bool "Directory entry cache debugging"

config DEBUG_dcache_ref
    bool "Directory entry cache referencing debugging"

config DEBUG_dma
    bool "DMA allocator debugging"

config DEBUG_elf
    bool "ELF program loader debugging log"

config DEBUG_futex
    bool "Futex debugging"

config DEBUG_io
    bool "IO interface debugging log"

config DEBUG_ipc
    bool "IPC connection debugging"

config DEBUG_ipi
    bool "Inter-processor interrupt debugging"

config DEBUG_panic
    bool "Kernel panic debugging"

config DEBUG_pagefault
    bool "Page fault debugging log"

config DEBUG_pipe
    bool "Pipe debugging"

config DEBUG_pmm
    bool "Physical memory manager debugging log"

config DEBUG_pmm_buddy
    bool "Buddy-allocator debugging log"
    select DEBUG_pmm

config DEBUG_process
    bool "Process creation, termination and wait debugging log"

config DEBUG_scheduler
    bool "Scheduler debugging log"

config DEBUG_setup
    bool "Kernel setup debugging log"

config DEBUG_signal
    bool "Signal debugging"

config DEBUG_slab
    bool "Slab allocator debugging"

config DEBUG_spinlock
    bool "Spinlock debugging"

config DEBUG_syscall
    bool "System call tracing"

config DEBUG_sysfs
    bool "SysFS debugging"

config DEBUG_thread
    bool "Thread creation and destruction debugging log"

config DEBUG_tmpfs
    bool "TmpFS debugging"

config DEBUG_userfs
    bool "UserFS debugging"

config DEBUG_vfs
    bool "VFS debugging"

config DEBUG_vmm
    bool "Virtual memory manager debugging log"

