# SPDX-License-Identifier: GPL-3.0-or-later

menu "x86-64 configuration"

config PAGE_SIZE
    int "Page size"
    default 4096

config HWMEM_VADDR
    hex "Hardware memory virtual address"
    default 0xFFFFFFFFA0000000

menu "x86-64 debugging options"

config PLATFORM_DEBUG_ALL_x86_64
    bool
    help
        Enable all x86-64 debugging options, this is rarely needed.
    select DEBUG_x86_cpu
    select DEBUG_x86_lapic
    select DEBUG_x86_ioapic
    select DEBUG_x86_startup
    select DEBUG_x86_acpi

config DEBUG_x86_cpu
    bool "x86 CPU debug"

config DEBUG_x86_lapic
    bool "x86 LAPIC debug"

config DEBUG_x86_ioapic
    bool "x86 IOAPIC debug"

config DEBUG_x86_startup
    bool "x86 startup debug"

config DEBUG_x86_acpi
    bool "x86 ACPI debug"

endmenu
endmenu
