# SPDX-License-Identifier: GPL-3.0-or-later

source "arch/$ARCH/Kconfig"

menu "Generic architecture options"

config ADDR_USER_HEAP
    hex "User heap address"
    default 0x40000000

config ADDR_USER_STACK
    hex "User stack address"
    default 0x100000000

config ADDR_USER_MMAP
    hex "User mmap address"
    default 0xC00000000

endmenu
