# SPDX-License-Identifier: GPL-3.0-or-later

menu "Library Options"

config MLIBC_HEADER_DIR
    string "mlibc header include directory"
    default "/opt/$ARCH-mos/include/"
    help
      The directory where the C library 'mlibc' headers are installed.

endmenu
