# SPDX-License-Identifier: GPL-3.0-or-later

config TEST_ALL
    bool "Build all tests"
    default y
    select TEST_printf
    select TEST_linked_list
    select TEST_kmalloc
    select TEST_cmdline_parser
    select TEST_hashmap
    select TEST_downwards_stack
    select TEST_memops
    select TEST_ring_buffer
    select TEST_vfs

config TEST_printf
    bool "Test printf"

config TEST_linked_list
    bool "Test linked list"

config TEST_kmalloc
    bool "Test kmalloc"

config TEST_cmdline_parser
    bool "Test cmdline parser"

config TEST_hashmap
    bool "Test hashmap"

config TEST_downwards_stack
    bool "Test downwards stack"

config TEST_memops
    bool "Test memory-related operations"

config TEST_ring_buffer
    bool "Test ring buffer"

config TEST_vfs
    bool "Test VFS operations"
