name: Build MOS Documentation and CodeBrowser

on:
  push:
    branches: ["main"]
  workflow_dispatch:

# Allow one concurrent deployment
concurrency:
  group: "mos-docs"
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
      - name: Install packages
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm --needed base-devel git cmake ninja clang lld nasm cpio wget python jq llvm mtools unzip limine protobuf python-protobuf python-setuptools

      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Toolchains
        run: |
          git clone https://github.com/moodyhunter/mos-packages
          ./mos-packages/fetch-package.sh x86_64-mos-gcc
          ./mos-packages/fetch-package.sh x86_64-mos-mlibc

      - name: Configure CMake
        run: |
          cmake \
            -B build \
            -DMOS_CONFIG=x86_64-debug \
            -DMOS_ARCH=x86_64 \
            -G Ninja

      - name: Build
        run: |
          cd build
          ninja mos_limine mos_initrd

      - name: Clone Stylesheet
        run: |
          git clone https://github.com/jothepro/doxygen-awesome-css build/doxygen-awesome-css

      - uses: mattnotmitt/doxygen-action@1.9.8
        with:
          doxyfile-path: ".github/workflows/Doxyfile"

      - name: Build CodeBrowser
        run: |
          cd build
          git clone https://github.com/moodyhunter/codebrowser
          cd codebrowser
          mkdir build && cd build
          cmake .. -DCLANG_BUILTIN_HEADERS_DIR=/usr/lib/clang/*/include
          make -j2

      - name: Generate CodeBrowser
        run: |
          cd build
          ./codebrowser/build/generator/codebrowser_generator -d /MOS/source-code/data -b ./compile_commands.json -a -o ./docs -p MOS:..
          ./codebrowser/build/indexgenerator/codebrowser_indexgenerator ./docs -d /MOS/source-code/data
          cp -rv ./codebrowser/data ./docs/data
          mv ./docs ./doxygen_output/html/source-code

      - name: Fix permissions
        run: |
          cd build
          chmod -c -R +rX "doxygen_output/html/" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: "build/doxygen_output/html"

  deploy:
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
