name: Build MOS Documentation

on:
  push:
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install packages
        run: |
          sudo apt update
          sudo apt -y install nasm grub2-common mtools jq ninja-build cpio libgmp-dev libmpfr-dev libmpc-dev

      - name: Download & Extract Cross Compiler
        run: |
          wget -q "https://github.com/moodyhunter/mos-toolchain-prebuilt/releases/download/artifact/toolchain-x86_64-elf.tar.gz"
          tar -xzf toolchain-x86_64-elf.tar.gz
          mv toolchain /tmp/
          echo "PATH=$PATH:/tmp/toolchain/bin" >> $GITHUB_ENV

      - name: Configure CMake
        run: |
          cmake \
            -DBUILD_TESTING=ON \
            -B ${{github.workspace}}/build \
            -DMOS_ARCH=x86_64 \
            -G Ninja

      - name: Build
        run: |
          cd ${{github.workspace}}/build
          ninja mos_initrd # We don't need to make a bootable kernel.

      - name: Clone Stylesheet
        run: |
          git clone https://github.com/jothepro/doxygen-awesome-css ${{github.workspace}}/build/doxygen-awesome-css

      - uses: mattnotmitt/doxygen-action@v1.9.4
        with:
          doxyfile-path: ".github/workflows/Doxyfile"

      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: "build/doxygen_output/html"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
